<div class="entry-container right">
    <entry-nav class="left"></entry-nav>
    <hymn-header></hymn-header>
    <entry-nav-modal></entry-nav-modal>
    <div class="entry-body row">
        <div class="col-md-8 offset-md-3">
            <md-card>
                <md-card-subtitle>{{content?.fields.instructions}}</md-card-subtitle>
                <md-card-title><h4>{{content?.fields.title}}</h4></md-card-title>
                <md-card-content>
                    
                    <form name="eventForm"
                    (ngSubmit)="openDialog()"
                    #eventForm="ngForm"
                    *ngIf="submission">

                    <div class="form-group">
                        <md-input-container class="full-width">
                            <!--<label for="eventTitle">Event Title</label>-->
                            <input md-input mdInput type="text"
                            id="eventTitle" 
                            placeholder="Event Title"
                            class="form-control" 
                            [(ngModel)]="submission.data.title"
                            name="eventTitle"
                            #eventTitle="ngModel"
                            required/>
                        </md-input-container>
                        <div class="alert alert-danger" *ngIf="eventTitle.errors && eventTitle.touched">
                            <ul>
                                <li [hidden]="!eventTitle.errors.required">
                                    Title is required
                                </li>
                            </ul>
                        </div> 
                    </div>

                    <div class="form-group">
                        <label for="eventOccurance">Is Your Event...</label>
                            <md-radio-group [(ngModel)]="submission.data.occurance" name="eventOccrance" required>
                                <md-radio-button class="block-input" name="occurance" value="Annual" required>Annual</md-radio-button>
                                <md-radio-button class="block-input" name="occurance" value="Every-Other-Year (once every 2 years)">Every-Other-Year (once every 2 years)</md-radio-button>
                                <md-radio-button class="block-input" name="occurance" value="One Time Only">One Time Only</md-radio-button>
                                <md-radio-button class="block-input" name="occurance" value="other">
                                    <md-input-container class="full-width">
                                        <input md-input mdInput type="text"
                                        placeholder="Other occurance"
                                        id="eventOccurance" 
                                        class="form-control" 
                                        [(ngModel)]="eventOccurance"
                                        name="submission.data.occurance"/>
                                    </md-input-container> 
                                </md-radio-button>
                            </md-radio-group>
                    </div>

                    <div class="form-group">
                        <!--<label for="eventUrl">Event Website</label>-->
                        <md-input-container class="full-width">
                            <input md-input mdInput type="url" 
                            placeholder="Event Website"
                            id="eventUrl" 
                            class="form-control" 
                            [(ngModel)]="submission.data.url"
                            name="eventUrl"
                            #eventUrl="ngModel"
                            required/>
                        </md-input-container>
                        <div class="alert alert-danger" *ngIf="eventUrl.errors && eventUrl.touched">
                            <ul>
                                <li [hidden]="!eventUrl.errors.required">
                                    URL is required
                                </li>
                                <li>
                                    Please follow this format: https://www.google.com
                                </li>
                            </ul>
                        </div> 
                    </div>

                    <div class="form-group">
                        <!--<label for="eventParent">Parent or Sponsoring Organization(s)</label>-->
                        <md-input-container class="full-width">
                            <input md-input mdInput type="text"
                            placeholder="Parent or Sponsoring Organization(s)"
                            id="eventParent" 
                            class="form-control" 
                            [(ngModel)]="submission.data.parent"
                            name="eventParent"/>
                        </md-input-container>          
                    </div>

                    <div class="form-group">
                        <!--<label for="eventTopic">Topic/Emphasis/Theme</label>-->
                        <md-input-container class="full-width">
                            <input md-input mdInput type="text"
                            placeholder="Topic/Emphasis/Theme"
                            id="eventTopic" 
                            class="form-control" 
                            [(ngModel)]="submission.data.theme"
                            name="eventTopic"
                            #eventTopic="ngModel"
                            required/>
                        </md-input-container>
                        <div class="alert alert-danger" *ngIf="eventTopic.errors && eventTopic.touched">
                            <ul>
                                <li [hidden]="!eventTopic.errors.required">
                                    Topic is required
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <!--<label for="eventDesc">Event Description</label>-->
                        <md-input-container class="full-width">
                            <input md-input mdInput type="text"
                            placeholder="Event Description"
                            id="eventDesc" 
                            class="form-control" 
                            [(ngModel)]="submission.data.description"
                            name="eventDesc"
                            #eventDesc="ngModel"
                            required/>
                        </md-input-container>
                        <div class="alert alert-danger" *ngIf="eventDesc.errors && eventDesc.touched">
                            <ul>
                                <li [hidden]="!eventDesc.errors.required">
                                    Description is required
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <!--<label for="eventDate">Event Start Date</label>-->
                        <md-input-container>
                            <input md-input mdInput type="date" 
                            placeholder="Event Start Date"
                            id="eventStartDate" 
                            class="form-control" 
                            [(ngModel)]="submission.data.event_start_date"
                            name="eventStartDate"
                            #eventStartDate="ngModel"
                            rerquired/>
                        </md-input-container>
                        <div class="alert alert-danger" *ngIf="eventStartDate.errors && eventStartDate.touched">
                            <ul>
                                <li [hidden]="!eventStartDate.errors.required">
                                    Start date is required
                                </li>
                            </ul>
                        </div>

                        <md-input-container>
                            <input md-input mdInput type="date" 
                            placeholder="Event End Date"
                            id="eventEndDate" 
                            class="form-control" 
                            [(ngModel)]="submission.data.event_end_date"
                            name="eventEndDate"
                            #eventEndDate="ngModel"
                            rerquired/>
                        </md-input-container>
                        <div class="alert alert-danger" *ngIf="eventEndDate.errors && eventEndDate.touched">
                            <ul>
                                <li [hidden]="!eventEndDate.errors.required">
                                    End date is required
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="eventCost">Registration Cost</label>
                            <md-radio-group [(ngModel)]="submission.data.cost" name="eventCost" required>
                                <md-radio-button class="block-input" name="cost" value="Free" required>Free</md-radio-button>
                                <md-radio-button class="block-input" name="cost" value="Under $100">Under $100</md-radio-button>
                                <md-radio-button class="block-input" name="cost" value="Between $100 and $250">Between $100 and $250</md-radio-button>
                                <md-radio-button class="block-input" name="cost" value="Between $250 and $500">Between $250 and $500</md-radio-button>
                                <md-radio-button class="block-input" name="cost" value="Over $1000">Over $1000</md-radio-button>
                            </md-radio-group>
                    </div> 

                    <div class="form-group">
                        <md-select placeholder="Event Country" [(ngModel)]="submission.data.country" name="eventCountry" required>
                            <md-option *ngFor="let country of all_countries" [value]="country">
                                {{country}}
                            </md-option>
                        </md-select>
                    </div>    

                    <div class="form-group">
                         <md-select *ngIf="countries.getCountryByName(submission.data.country).provinces" placeholder="State/Province" [(ngModel)]="submission.data.state" name="eventState">
                            <md-option *ngFor="let state of countries.getCountryByName(submission.data.country).provinces" [value]="state.name">
                                {{state.name}}
                            </md-option>
                        </md-select>
                    </div>

                    <div class="form-group">
                        <md-input-container class="full-width">
                            <input md-input mdInput type="text"
                            placeholder="Event City"
                            id="eventCity" 
                            class="form-control" 
                            [(ngModel)]="submission.data.city"
                            name="eventCity"
                            #eventCity="ngModel"
                            required/>
                        </md-input-container>
                        <div class="alert alert-danger" *ngIf="eventCity.errors && eventCity.touched">
                            <ul>
                                <li [hidden]="!eventCity.errors.required">
                                    City is required
                                </li>
                            </ul>
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <label for="eventMember">Is a Hymn Society member involved?</label>
                            <md-radio-group [(ngModel)]="submission.data.hymn_soc_member" name="isMember" required>
                                <md-radio-button class="block-input" name="hymn_soc_member" value="Yes" required>Yes</md-radio-button>
                                <md-radio-button class="block-input" name="hymn_soc_member" value="No">No</md-radio-button>
                            </md-radio-group>
                    </div>   

                    <md-card-actions>
                        <button md-raised-button color="primary" type="submit" 
                        [disabled]="eventForm.invalid">
                        Submit
                        </button>
                        <button md-button routerLink="/">
                        Return to home
                        </button>
                    </md-card-actions>
                    </form>                

                </md-card-content> <!-- end class card-block-->
            </md-card> <!-- end class card -->
        </div> <!-- end class col-md-8 offset-md-2 -->
    </div> <!-- end entry-body row -->
</div>