.view-content {
  text-align: center;
    padding: 10% 10% 5% 10%; 
    .col-6, .col-md-4 {
      margin-bottom: 4%;
    }
}

.resource-card {
  img {
    height: 230px;
    // background-color: dodgerblue;
  }
  background-color: lightblue;
}

.resource-header-image {
  background-size: cover;
}