<div class="entry-container right">
    <hymn-header></hymn-header>
    <div class="view-content"><!-- content field -->
        <h2>Browse Resources</h2>
        <br>
            <div class="row">
                <div class="col-6 col-md-4" 
                    *ngFor="let tile of tiles">

                    <md-card class="resource-card" (click)="navigate(tile.routerLink)">
                        <!--<div md-card-avatar class="resource-header-image"><md-icon>{{tile.icon}}</md-icon></div>-->
                        <p><b>{{tile.text}}</b></p>
                        <img md-card-image src={{tile.image}}>
                      
                    </md-card>

                </div> <!-- cols -->
            </div> <!-- row -->
    </div> <!-- content field -->
</div>