<div class="entry-container right">
    <hymn-header></hymn-header>
    <div class="view-content"><!-- content field -->
        <h1>Select content</h1>
            <div class="row">
                <div class="col-6 col-md-4" 
                    *ngFor="let tile of tiles">

                    <md-card class="resource-card">
                        <md-card-header>
                            <div md-card-avatar class="resource-header-image"><md-icon>{{tile.icon}}</md-icon></div>
                            <md-card-title>{{tile.text}}</md-card-title>
                        </md-card-header>
                        <img md-card-image src={{tile.image}}>
                        <md-card-content>
                            
                        </md-card-content>
                    </md-card>

                </div> <!-- cols -->
            </div> <!-- row -->
    </div> <!-- content field -->
</div>