<!--MAKE IT SO PEOPLE CAN CHOOSE WHAT THEY WANT TO SUBMIT IN THE FIRST PLACE
CREATE PREVIEW PAGE BEFORE SUBMISSION
ALLOW USER TO BACK AND EDIT DATA
ALLOW USERS TO EMAIL BRIAN TO GET PASSWORD
SHOW WHICH USER SUBMITTIED WHAT-->

<div class="entry-container">
  <hymn-header></hymn-header>
  <div class="entry-body row">
    <div class="col-md-6 offset-md-3">
      <md-card>

        <md-card-header>
          <h4>Please log in</h4>
        </md-card-header>

        <md-card-content>

          <form name="loginForm"
            (ngSubmit)="login()"
            #loginForm="ngForm"
            *ngIf="user">

          <div class="form-group">
            <!--<label for="userEmail">Email</label>-->
            <md-input-container class="full-width">
            <input md-input mdInput type="text" 
              placeholder="Email"
              name="email" 
              id="userEmail" 
              class="form-control"               
              [(ngModel)]="user.email" 
              #userEmail="ngModel"
              name="userEmail"
              required/>
            </md-input-container>        


            <div class="alert alert-danger" *ngIf="userEmail.errors && userEmail.touched">
                <ul>
                    <li [hidden]="!userEmail.errors.required">
                        Email is required
                    </li>
                    <li [hidden]="!userEmail.errors.pattern">
                        Email is not valid
                    </li>
                </ul>
                </div>
            </div>  
          <div class="form-group">
              <!--<label for="userPassword">Password</label>-->
              <md-input-container class="full-width">
              <input md-input mdInput type="password"
                name= "password" 
                id="userPassword" 
                placeholder="Password"
                class="form-control"
                [(ngModel)]="user.password" 
                #userPassword="ngModel"
                name="userPassword"
                required/>
              </md-input-container>

              <div class="alert alert-danger" *ngIf="userPassword.errors && userPassword.touched">
                  <ul>
                      <li [hidden]="!userPassword.errors.required">
                          Password is required
                      </li>
                      <li [hidden]="!userPassword.errors.pattern">
                          Password is not valid
                      </li>
                  </ul>
              </div>   
            </div>       
            <md-card-actions>
              <button md-raised-button color="primary" type="submit" 
              [disabled]="loginForm.invalid">
              Login
              </button>
              <button md-button routerLink="/">
              Return to home
              </button>
          </md-card-actions>
          </form>

        </md-card-content> <!--end card-block-->
      </md-card> <!--end card-->
    </div>
  </div>
</div>