<div class="entry-container right">
    <hymn-header></hymn-header>
    <div class="view-content">
        <div class="col-sm-8">
            <md-card *ngFor="let resource of resources">
                <md-card-header>
                    <div md-card-avatar class="resource-header-image"><md-icon>{{icon}}</md-icon></div>
                    <md-card-subtitle>{{type}}</md-card-subtitle>
                    <md-card-title [ngSwitch]="type">
                            <h4 *ngSwitchCase="persons">{{resource?.first_name}} {{resource?.last_name}}</h4>
                            <h4 *ngSwitchDefault>{{resource?.title}}</h4>
                    </md-card-title>
                </md-card-header>
                <md-card-content>
    
                </md-card-content> <!-- end class card-block-->
            </md-card> <!-- end class card -->
        </div> <!-- end class col-md-8 offset-md-2 -->
    </div> <!-- end entry-body row -->
</div>