<div class="entry-container right">
    <hymn-header></hymn-header>
    <div class="view-content">
        <div class="col-sm-9">
            <md-card *ngFor="let resource of resources">
                <div class="resource-card-header">
                    <md-card-title [ngSwitch]="type">
                        <div *ngSwitchCase="'persons'">
                            <h3><md-icon>{{icon}}</md-icon> {{resource?.first_name}} {{resource?.last_name}}</h3>
                            <ul class="resource-card-footer">
                                <li *ngIf="resource?.pract_schol === 'Both'"> <i>Works with Practical and Scholarly Resources</i></li>
                                <li *ngIf="resource?.pract_schol != 'Both'"> <i>Works with {{ resource?.pract_schol }} Resources</i></li>
                            </ul>
                        </div>
                            <h3 *ngSwitchCase="'organization'"><md-icon>{{icon}}</md-icon> {{resource?.name}}</h3>
                            <h3 *ngSwitchCase="'congregations'"><md-icon>{{icon}}</md-icon> {{resource?.name}}</h3>
                        <div *ngSwitchCase="'events'">
                            <h3><md-icon>{{icon}}</md-icon> {{resource?.title}} </h3>
                            <ul class="resource-card-footer">
                                <li *ngIf="resource?.is_org_free =='Yes'"> <i>Offers free resources</i> </li>
                                <li *ngIf="resource?.events_free =='Yes'"> <i>Offers free events</i> </li>
                                <li *ngIf="resource?.membership_free =='Yes'"> <i>Offers free membership</i> </li>
                            </ul>
                        </div>
                            <div *ngSwitchDefault>
                                <h3><md-icon>{{icon}}</md-icon> {{resource?.title}}</h3>
                                <h5> by {{ resource?.author }} </h5>
                                 <ul  class="resource-card-footer">
                                    <li *ngIf="resource?.pract_schol === 'Both'"> <i>A Practical and Scholarly Resource</i></li>
                                    <li *ngIf="resource?.pract_schol != 'Both'"> <i>A {{ resource?.pract_schol }} Resource</i></li>
                                    <li *ngIf="resource?.is_free == 'Yes'"> <i>This is a free resource</i></li>
                                </ul>
                            </div>
                    </md-card-title>
                    <md-icon *ngIf="resource?.hymn_soc_member=='true'">star</md-icon>
                </div>

                <hr>
                <div *ngIf="resource?.show" [ngSwitch]="type">
                    <md-card-content *ngSwitchDefault>
                        <ul>
                            <i> {{ resource?.description }}</i>
                        </ul>
                        <ul>
                            <li *ngIf="resource?.parent"><b>Parent Organization or Source:</b> {{ resource?.parent }}</li>
                            <li><b>Categories that this resource relates into:</b> {{ resource?.categories.join(', ') }}</li>
                            <li><b>Topics/concerns addressed by this resource:</b> {{ resource?.topics.join(', ') }} </li>
                            <li><b>Accompaniments that this resource address or lend itself toward:</b> {{ resource?.accompaniment.join(', ') }}</li>
                            <li><b>Languages represented in this resource?</b> {{ resource?.languages.join(', ') }}</li>
                            <li><b>Ensembles are addressed:</b> {{ resource?.ensembles.join(', ') }}</li>
                        </ul>
                        <ul  class="resource-card-footer">
                            <li *ngIf="resource?.url" ><a target="_blank" href="{{ resource?.url }}"><md-icon>launch</md-icon> Go to  this resource</a></li>
                        </ul>
                    </md-card-content> <!-- end resource card-block -->

                    <md-card-content *ngSwitchCase="'persons'">
                        <ul>
                            <li><b>Email:</b> {{ resource?.email }}</li>
                            <li><b>Country:</b> {{ resource?.country }}</li>
                            <li><b>State/Province:</b> {{ resource?.state }}</li>
                            <li><b>City:</b> {{ resource?.city }}</li>
                            <li><b>Facebook:</b> <a target="_blank" href="{{ resource?.social_facebook }}">{{ resource?.social_facebook }}</a></li>
                            <li><b>Twitter:</b> <a target="_blank" href="{{ resource?.social_twitter }}">{{ resource?.social_twitter }}</a></li>
                            <li><b>Other social media connections:</b> <a target="_blank" href="{{ resource?.social_other }}">{{ resource?.social_other }}</a> </li>
                        </ul>
                        <ul>
                            <li><b>Main Topic/Emphasis: </b> {{ resource?.emphasis }}</li>
                            <li *ngIf="resource?.hymn_soc_member == 'true'"><b>{{resource?.last_name}} is a Hymn Society Member</b></li>
                            <li *ngIf="resource?.hymn_soc_member == 'false'"><b>{{resource?.last_name}} is not a Hymn Society Member</b></li>
                        </ul>
                        <ul>
                            <li><b>Ensembles you are comfortable working with:</b> {{ resource?.ensembles.join(', ') }}</li>
                            <li><b>Song/hymn(s) has your congregation sung in the last 2 months:</b> {{ resource?.categories.join(', ') }}</li>
                            <li><b>Instruments used by your congregation during congregational singing:</b> {{ resource?.instruments.join(', ') }} </li>
                            <li><b>Languages spoken:</b> {{ resource?.languages }}</li>
                        </ul>
                        <ul class="resource-card-footer">
                            <li *ngIf="resource?.url"><a target="_blank" href="{{ resource?.url }}"><md-icon>launch</md-icon> Go to  this person's website</a></li>
                        </ul>
                    </md-card-content> <!-- end persons card-block -->
                    <md-card-content *ngSwitchCase="'organization'">
                        <ul>
                            <li><b>Name:</b> {{ resource?.name }}</li>
                            <li *ngIf="resource?.parent"><b>Parent Organization or Source:</b> {{ resource?.parent }}</li>
                            <li><b>Denomination/Tradition:</b> {{ resource?.denomination }}</li>
                            <li><b>Country:</b> {{ resource?.country }}</li>
                            <li><b>State/Province:</b> {{ resource?.state }}</li>
                            <li><b>City:</b> {{ resource?.city }}</li>
                        </ul>
                        <ul>
                            <li><b>Geographic area(s) served by this organization:</b> {{ resource?.geographic_area }}</li>
                            <li><b>Organization mission:</b> {{ resource?.mission }}</li>
                            <li><b>Organization encourages congregational song by:</b> {{ resource?.process }}</li>
                            <li><b>Types of song/hymn(s) used or referenced in the past year:</b> {{ resource?.categories.join(', ') }}</li>
                            <li><b>Types of instruments used during congregational singing:</b> {{ resource?.instruments.join(', ') }}</li> 
                            <li><b>Shape of worship:</b> {{ resource?.shape.join(', ') }}</li>
                            <li><b>Pastor/priest clothing when he/she preaches?</b> {{ resource?.clothing.join(', ') }}</li>
                        </ul>
                        <ul class="resource-card-footer">
                            <li *ngIf="resource?.url" ><a target="_blank" href="{{ resource?.url }}"><md-icon>launch</md-icon> Go to  this organization website</a></li>
                        </ul>
                    </md-card-content> <!-- end orgs card-block -->
                        
                    <md-card-content *ngSwitchCase="'events'">
                        <ul>
                            <li><b>Event Title:</b> {{ resource?.title }}</li>
                            <li><b>Event Frequency:</b> {{ resource?.frequency}}</li>
                            <li><b>Event Type:</b> {{ resource?.type }}</li>
                        </ul>
                        <ul>
                            <li><b>Parent Organization or Source:</b> {{ resource?.parent }}</li>
                            <li><b>Topic/Emphasis/Theme:</b> {{ resource?.theme }}</li>
                            <li><b>Event Description:</b>  {{ resource?.description }}</li>
                            <li><b>Event start date:</b>  {{ resource?.event_date | date:"MM/dd/yy" }}</li>
                            <li><b>Event end date:</b>  {{ resource?.event_end_date | date:"MM/dd/yy"}}</li>
                            <li><b>Registration cost:</b> {{ resource?.cost }}</li>
                            <li><b>Country:</b> {{ resource?.country }}</li>
                            <li><b>State/Province:</b> {{ resource?.state }}</li>
                            <li><b>City:</b> {{ resource?.city }}</li>
                            <li><b>What types of ensembles are you comfortable working with?</b> {{ resource?.ensembles.join(', ') }}</li>
                            <li><b>Which best describes the shape of your worship?</b> {{ resource?.shape.join(', ') }}</li>
                            <li><b>What types of ensembles are addressed in this event?</b> {{ resource?.ensembles.join(', ') }}</li>
                            <li><b>What does your pastor/priest wear when he/she preaches?</b> {{ resource?.clothing.join(', ') }}</li>
                            <li><b>On average, how many people will attend your event?</b> {{ resource?.attendance }}</li>
                        </ul>
                        <ul class="resource-card-footer">
                            <li *ngIf="resource?.url" ><a target="_blank" href="{{ resource?.url }}"><md-icon>launch</md-icon> Go to  this event website</a></li>
                        </ul>
                    </md-card-content> <!-- end events card-block -->

                    <md-card-content *ngSwitchCase="'congregations'">
                        <ul>
                            <li><b>Name:</b> {{ resource?.name }}</li>
                            <li><b>Country:</b> {{ resource?.country }}</li>
                            <li><b>State/Province:</b> {{ resource?.state }}</li>
                            <li><b>City:</b> {{ resource?.city }}</li>
                        </ul>
                        <ul>
                            <li><b>Denomination/Tradition:</b> {{ resource?.denomination }}</li>
                            <li><b>Hymn Society members in congregation or on church staff?</b>  {{ resource?.hymn_soc_member }}</li>
                            <li><b>Song/hymn(s) congregation sang in the last 2 months:</b> {{ resource?.categories.join(', ') }}</li>
                            <li><b>Instruments congregation used during congregational singing:</b> {{ resource?.instruments.join(', ') }}</li> 
                            <li><b>Shape of worship:</b> {{ resource?.shape.join(', ') }}</li>
                            <li><b>Pastor/priest wears when he/she preaches:</b> {{ resource?.clothing.join(', ') }}</li>
                            <li><b>The congregation is:</b> {{ resource?.geography }}</li>
                            <li><b>On average, how many people attend your weekly worship services?</b> {{ congregation?.attendance }}</li>
                        </ul>
                        <ul class="resource-card-footer">
                            <li *ngIf="resource?.url" ><a target="_blank" href="{{ resource?.url }}"><md-icon>launch</md-icon> Go to  this congregation website</a></li>
                        </ul>
                    </md-card-content>
                    
                </div>
                <div style="text-align: center" [ngSwitch]="resource?.show">
                    <button *ngSwitchDefault md-button color="accent" (click)=expand(resource)><md-icon>keyboard_arrow_down</md-icon></button> 
                    <button *ngSwitchCase="true" md-button color="accent" (click)=expand(resource)><md-icon>keyboard_arrow_up</md-icon></button> 
                </div>

            </md-card> <!-- end class card -->
        </div> <!-- end class col-md-8 offset-md-2 -->
        <div class="col-sm-3">
            <md-card>
                <md-input-container>
                    <input mdInput placeholder="Search for Keyword" [(ngModel)]="searchTerm">
                </md-input-container>
                <button [disabled]='!searchTerm' md-raised-button color="primary" (click)=search(searchTerm)>search</button> 
            </md-card>
        </div>
    </div> <!-- end entry-body row -->
</div>