<div class="entry-container right">
  <entry-nav class="left"></entry-nav>
  <hymn-header></hymn-header>
  <entry-nav-modal></entry-nav-modal>
  <div class="entry-body row">
      <div class="col-md-8 offset-md-3">
          <md-card>
              <md-card-subtitle>All Resources</md-card-subtitle>
              <md-card-title><h4>Total resources: {{ arrLen }}</h4></md-card-title>
              <md-card-content style="display:table;">
                    <table *ngIf="arrLen > 0" class="table table-hover" style="width: 100%">
                            <thead>
                              <tr>
                                <th scope="col" style="width: 14%">id</th>
                                <th scope="col" style="width: 14%">Type</th>
                                <th scope="col" style="width: 14%">Title</th>
                                <th scope="col" style="width: 14%">Author</th>
                                <th scope="col" style="width: 14%; text-align: center">Likes</th>
                                <th scope="col" style="width: 14%; text-align: center">Views</th>
                                <th scope="col" style="width: 14%; text-align: center">Clicks</th>

                                <!-- <th scope="col">Handle</th> -->
                              </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let resource of resources; let index = index;">
                                <!-- <td><a [routerLink]="['../', 'resources', resource.id]"><button class="btn btn-primary">{{ resource.id }}</button></a></td> -->
                                <td><a (click)="edit(resource)"><button class="btn btn-primary" style="min-width: 100%;">{{ resource.id }}</button></a></td>
                                <td>{{ resource.type }}</td>
                                <td>{{ resource.title }}</td>
                                <td>{{ resource.author | slice:0:15 }}...</td>
                                <td style="text-align: center">{{ resource.likes }}</td>
                                <td style="text-align: center">{{ resource.views }}</td>
                                <td style="text-align: center">{{ resource.clicks }}</td>
                            </tr>
                            </tbody>
                        </table>
                  <!-- <div *ngIf="resources?.length == 0" class="well">
                      There are no unapproved resources in the database.
                  </div> -->

                 <!--  <div *ngIf="resources?.length > 0">
                      <div class="media" *ngFor="let resources of resources; let index = index;">
                          <div class="media-body">
                              <div>
                                  <h6 class="media-heading">
                                      <ul>
                                          <li>
                                              <a [routerLink]="resources.id" md-button>{{ resources.title }}, submitted by {{ resources.user }} </a>
                                          </li>
                                     </ul>
                                  </h6>
                              </div>

                          </div>
                      </div>
                  </div> -->

              </md-card-content> <!-- end class card-block-->
          </md-card> <!-- end class card -->
      </div> <!-- end class col-md-8 offset-md-2 -->
  </div> <!-- end entry-body row -->
</div>