.view-content {
  text-align: center;
  padding: 60px 10% 5% 10%; 
  .col-6, .col-md-4 {
      margin-bottom: 4%;
  }
}

.resource-card {
  text-align: center;
  cursor: pointer;
  img {
    height: 200px;
  }
  padding-bottom: 0;
}

.resource-card:hover {
  background-color: #64B5F6;
  img {
    opacity: .5;
  }
}

.resource-header-image {
  background-size: cover;
}

md-card-header {
  overflow: hidden;
}