<div class="entry-container">
  <entry-nav class="left"></entry-nav>
  <hymn-header></hymn-header>
  <entry-nav-modal></entry-nav-modal>
  <div class="entry-body row">
    <div class="col-md-8 offset-md-3">
      <md-card>
        <md-card-content>
            <md-card-subtitle class="entry-card-header">
                {{content?.fields.instructions}} 
            </md-card-subtitle>
            <md-card-title><h4 class="card-title">{{content?.fields.title}}</h4></md-card-title>

            <form name="resourceForm"
            (ngSubmit)="openDialog()"
            #resourceForm="ngForm"
            *ngIf="submission">

            <div class="form-group">
                <md-input-container class="full-width">
                    <input md-input mdInput type="text"
                    placeholder="Resource Title"
                    id="resourceTitle" 
                    class="form-control" 
                    [(ngModel)]="submission.data.title"
                    #resourceTitle="ngModel"
                    name="resourceTitle"
                    required/>
                </md-input-container>
                <div class="alert alert-danger" *ngIf="resourceTitle.errors && resourceTitle.touched">
                  <ul>
                      <li [hidden]="!resourceTitle.errors.required">
                          Title is required
                      </li>
                  </ul>
                </div> 
            </div>

            <div class="form-group">
                <label for="resourceType">Resource Type</label>
                <md-radio-group [(ngModel)]="submission.data.type" name="radioType">
                    <md-radio-button class="block-input" name="type" value="Audio Track(s)"> Audio Track(s)</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="Article(s)"> Article(s)</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="Blog"> Blog</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="Book"> Book</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="Forum"> Forum</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="Hymnal/Songbook"> Hymnal/Songbook</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="Newsletter/E-News"> Newsletter/E-News</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="Podcast"> Podcast</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="Video/Visual(s)"> Video/Visual(s)</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="other">                                         
                        <md-input-container class="full-width">
                        <input md-input mdInput type="text"
                        placeholder="Other resource type"
                        id="resourceTitle" 
                        class="form-control" 
                        [(ngModel)]="resourceTypeOther"
                        name="resourceTitle"/>
                        </md-input-container> 
                     </md-radio-button>
                </md-radio-group>

            </div>

            <div class="form-group">
                <!--<label for="resourceUrl">Website URL</label>-->
                <md-input-container class="full-width">
                    <input md-input mdInput type="url" 
                    placeholder="Website URL"
                    id="resourceUrl" 
                    class="form-control" 
                    [(ngModel)]="submission.data.url"
                    name="resourceUrl"
                    #resourceUrl="ngModel"
                    required/>
                </md-input-container>                
                <div class="alert alert-danger" *ngIf="resourceUrl.errors && resourceUrl.touched">
                  <ul>
                      <li [hidden]="!resourceUrl.errors.required">
                          URL is required
                      </li>
                      <li>
                          Please follow this format: https://www.google.com
                      </li>
                  </ul>
                </div> 
            </div>

            <div class="form-group">
                <!--<label for="resourceAuthor">Author/Creator</label>-->
                <md-input-container class="full-width">
                    <input md-input mdInput type="text"
                    placeholder="Author/Creator"
                    id="resourceAuthor" 
                    class="form-control" 
                    [(ngModel)]="submission.data.author"
                    name="resourceAuthor"
                    required/>
                </md-input-container>
            </div>

            <div class="form-group">
                <!--<label for="resourceParent">Parent Organization or Source</label>-->
                <md-input-container class="full-width">
                    <input md-input mdInput type="text"
                    placeholder="Parent Organization or Source"
                    id="resourceParent" 
                    class="form-control" 
                    [(ngModel)]="submission.data.parent"
                    name="reourceParent"/>
                </md-input-container>
            </div>

            <div class="form-group">
                <!--<label for="resourceDescription">Resource Description</label>-->
                <md-input-container class="full-width">
                    <input md-input mdInput type="text"
                    placeholder="Resource Description"
                    id="resourceDescription" 
                    class="form-control" 
                    [(ngModel)]="submission.data.description"
                    name="resourceDescription"
                    required/>
                </md-input-container>
            </div>

            <div class="form-group">
                <label for="resourceCategories">What categories does this resource
                fit into or relate to?
                </label>
                    <md-checkbox class="block-input" 
                        ng-true-value="true" 
                        ng-false-value="false"
                        [(ngModel)]="submission.data.categories['A hymn written prior to 1970']"
                        name="personTypeOne"
                        >A hymn written prior to 1970</md-checkbox>
            
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personTypeTwo"
                        [(ngModel)]="submission.data.categories['Newly composed hymn (within the last 10 years)']"
                        >Newly composed hymn (within the last 10 years)</md-checkbox>
                   
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personTypeNine"
                        [(ngModel)]="submission.data.categories['A song written by our own artist/leader']"
                        >A song written by our own artist/leader</md-checkbox>
            
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personTypeThree"
                        [(ngModel)]="submission.data.categories['Praise and Worship Song (CCM)']"
                        >Praise and Worship Song (CCM)</md-checkbox>
            
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personTypeFour"
                        [(ngModel)]="submission.data.categories['Psalm Setting']"
                        >Psalm Setting</md-checkbox>
            
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personTypeFive"
                        [(ngModel)]="submission.data.categories['Chant (Gregorian, Anglican, Pointed or Taize)']"
                        >Chant (Gregorian, Anglican, Pointed or Taize)</md-checkbox>
            
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personTypeSix"
                        [(ngModel)]="submission.data.categories['Older hymn text set to a new contemporary tune (or re-tuned)']"
                        >Older hymn text set to a new contemporary tune (or 're-tuned')</md-checkbox>
            
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personTypeSeven"
                        [(ngModel)]="submission.data.categories['Song from another country (or World Song)']"
                        >Song from another country (or 'World Song')</md-checkbox>
            
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personTypeEight"
                        [(ngModel)]="submission.data.categories['Secular Song']"
                        >Secular Song</md-checkbox>

                    <md-checkbox class="block-input">                        
                        <md-input-container class="full-width">
                        <input md-input mdInput type="text"
                        id="resourceCategories" 
                        class="form-control" 
                        [(ngModel)]="submission.data.categories.Other"
                        name="resourceCategories"
                        placeholder="Other Category"/>
                        </md-input-container>
                    </md-checkbox>
            </div>

            <div class="form-group">
                <label for="resourceTopic">Does this resource address any of these specific topics/concerns?</label>
                    <md-checkbox class="block-input"
                        ng-true-value = "true"
                        ng-false-value = "false"
                        name="resourceTopicOne"
                        [(ngModel)]="submission.data.topics['Psalm Setting']">
                        Psalm Setting
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value = "true"
                        ng-false-value = "false"
                        name="resourceTopicTwo"
                        [(ngModel)]="submission.data.topics['Lectionary Based']">
                        Lectionary Based
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value = "true"
                        ng-false-value = "false"
                        name="resourceTopicThree"
                        [(ngModel)]="submission.data.topics['Social Justice']">
                        Social Justice
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value = "true"
                        ng-false-value = "false"
                        name="resourceTopicFour"
                        [(ngModel)]="submission.data.topics['Worship']">
                        Worship
                    </md-checkbox>
                    <md-checkbox class="block-input">                    
                        <md-input-container class="full-width">
                        <input md-input mdInput type="text"
                        id="resourceTopic" 
                        class="form-control" 
                        [(ngModel)]="submission.data.topics.Other"
                        name="resourceTopic"
                        placeholder="Other Topic"/>
                        </md-input-container>
                    </md-checkbox>
            </div>

            <div class="form-group">
                <label for="resourceAccompany">What kind of accompaniment does this resource address or lend itself toward?</label>
                    <md-checkbox class="block-input" 
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personInstrumentOne"
                        [(ngModel)]="submission.data.accompaniment['Acappella']">
                        Acappella</md-checkbox>
            
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personInstrumentTwo"
                        [(ngModel)]="submission.data.accompaniment['Organ']">
                        Organ</md-checkbox>
            
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personInstrumentThree"
                        [(ngModel)]="submission.data.accompaniment['Piano']">
                        Piano</md-checkbox>
            
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personInstrumentFour"
                        [(ngModel)]="submission.data.accompaniment['Guitar (not full band)']">
                        Guitar (not full band)</md-checkbox>
            
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personInstrumentFive"
                        [(ngModel)]="submission.data.accompaniment['Band (guitar, bass, drums, etc...)']">
                        Band (guitar, bass, drums, etc...)</md-checkbox>

                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personInstrumentSix"
                        [(ngModel)]="submission.data.accompaniment['Orchestra/Wind Ensemble']">
                        Orchestra/Wind Ensemble</md-checkbox>
            
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personInstrumentSeven"
                        [(ngModel)]="submission.data.accompaniment['Handbells']">
                        Handbells</md-checkbox>
            
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="personInstrumentEight"
                        [(ngModel)]="submission.data.accompaniment['Obligato Instruments (flute, clarinet, trumpet, etc...)']">
                        Obligato Instruments (flute, clarinet, trumpet, etc...)</md-checkbox>
            
                    <md-checkbox class="block-input" name="other">                       
                        <md-input-container class="full-width">
                        <input md-input mdInput type="text"
                        id="resourceAccompaniment" 
                        class="form-control" 
                        [(ngModel)]="submission.data.accompaniment.Other"
                        name="resourceAccompaniment"
                        placeholder="Other Accompaniment"/>
                        </md-input-container>
                    </md-checkbox>
            </div>

            <div class="form-group">
                <label for="resourceLang">What languages are represented in this resource?</label>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceLangOne"
                        [(ngModel)]="submission.data.languages.English">
                        English
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceLangTwo"
                        [(ngModel)]="submission.data.languages.Spanish">
                        Spanish
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceLangThree"
                        [(ngModel)]="submission.data.languages.French">
                        French
                    </md-checkbox>
                    <md-checkbox class="block-input">
                        <md-input-container class="full-width">
                        <input md-input mdInput type="text"
                        id="resourceLangFour" 
                        class="form-control" 
                        [(ngModel)]="submission.data.languages.Other"
                        name="resourceLang"
                        placeholder="Other Language"/>
                        </md-input-container>
                    </md-checkbox>
            </div>

            <div class="form-group">
                <label for="resourceEnsemble">What types of ensembles are addressed in this resource?</label>
                    <md-checkbox class="block-input"
                        ng-true-value="true"
                        ng-false-value="false"
                        name="personEnsembleOne"
                        [(ngModel)]="submission.data.ensembles['Choir']">
                        Choir
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true"
                        ng-false-value="false"
                        name="personEnsembleTwo"
                        [(ngModel)]="submission.data.ensembles['Cantor']">
                        Cantor
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true"
                        ng-false-value="false"
                        name="personEnsembleThree"
                        [(ngModel)]="submission.data.ensembles['Song Enlivener']">
                        Song-Enlivener
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true"
                        ng-false-value="false"
                        name="personEnsembleFour"
                        [(ngModel)]="submission.data.ensembles['Lead Singer from Band (Solo)']">
                        Lead Singer from Band (Solo)
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true"
                        ng-false-value="false"
                        name="personEnsembleFive"
                        [(ngModel)]="submission.data.ensembles['Lead Singer from Band with Other Vocalists']">
                        Lead Singer from Band with Other Vocalists
                    </md-checkbox>
                    <md-checkbox class="block-input">
                        <md-input-container class="full-width">
                        <input md-input mdInput type="text"
                        id="resourceEnsemble" 
                        class="form-control" 
                        [(ngModel)]="submission.data.ensembles.Other"
                        name="resourceEnsemble"
                        placeholder="Other Ensemble"/>
                        </md-input-container>    
                    </md-checkbox>
            </div>

            <div class="form-group">
                <label for="resourceEthnicity">What ethnicities/races does this resource represent?</label>
                <md-checkbox class="block-input"
                    ng-true-value="true"
                    ng-false-value="false"
                    name="congregationEthnicityFive"
                    [(ngModel)]="submission.data.ethnicities['Asian - Chinese Language/Heritage']">
                    Asian - Chinese Language/Heritage
                </md-checkbox>
                <md-checkbox class="block-input"
                    ng-true-value="true"
                    ng-false-value="false"
                    name="congregationEthnicityFive"
                    [(ngModel)]="submission.data.ethnicities['Asian - Indian']">
                    Asian - Indian
                </md-checkbox>
                <md-checkbox class="block-input"
                    ng-true-value="true"
                    ng-false-value="false"
                    name="congregationEthnicityFive"
                    [(ngModel)]="submission.data.ethnicities['Asian - Southest Asian Non-Chinese']">
                    Asian - Southest Asian Non-Chinese
                </md-checkbox>
                <md-checkbox class="block-input"
                    ng-true-value="true"
                    ng-false-value="false"
                    name="congregationEthnicityFive"
                    [(ngModel)]="submission.data.ethnicities['Asian - Korean']">
                    Asian - Korean
                </md-checkbox>
                <md-checkbox class="block-input"
                    ng-true-value="true"
                    ng-false-value="false"
                    name="congregationEthnicityFive"
                    [(ngModel)]="submission.data.ethnicities['Asian - Japanese']">
                    Asian - Japanese
                </md-checkbox>
                <md-checkbox class="block-input"
                    ng-true-value="true"
                    ng-false-value="false"
                    name="congregationEthnicitySix"
                    [(ngModel)]="submission.data.ethnicities['Black - African-American']">
                    Black - African-American
                </md-checkbox>
                <md-checkbox class="block-input"
                    ng-true-value="true"
                    ng-false-value="false"
                    name="congregationEthnicitySix"
                    [(ngModel)]="submission.data.ethnicities['Black - Sub-Saharan African']">
                    Black - Sub-Saharan African
                </md-checkbox>
                <md-checkbox class="block-input"
                    ng-true-value="true"
                    ng-false-value="false"
                    name="congregationEthnicityFour"
                    [(ngModel)]="submission.data.ethnicities['Hispanic/Latino/Spanish - Central/South American']">
                    Hispanic/Latino/Spanish - Central/South American
                </md-checkbox>
                <md-checkbox class="block-input"
                    ng-true-value="true"
                    ng-false-value="false"
                    name="congregationEthnicityFour"
                    [(ngModel)]="submission.data.ethnicities['Hispanic/Latino/Spanish - Caribbean']">
                    Hispanic/Latino/Spanish - Caribbean
                </md-checkbox>
                <md-checkbox class="block-input"
                    ng-true-value="true"
                    ng-false-value="false"
                    name="congregationEthnicitySeven"
                    [(ngModel)]="submission.data.ethnicities['Native American/Indigenous Peoples']">
                    Native American/Indigenous Peoples
                </md-checkbox>
                <md-checkbox class="block-input"
                    ng-true-value="true"
                    ng-false-value="false"
                    name="congregationEthnicitySeven"
                    [(ngModel)]="submission.data.ethnicities['Native American/Pacific Islander']">
                    Native American/Pacific Islander
                </md-checkbox>
                <md-checkbox class="block-input"
                    ng-true-value="true"
                    ng-false-value="false"
                    name="congregationEthnicitySeven"
                    [(ngModel)]="submission.data.ethnicities['North African/Middle Eastern']">
                    North African/Middle Eastern
                </md-checkbox>
                <md-checkbox class="block-input"
                    ng-true-value="true"
                    ng-false-value="false"
                    name="congregationEthnicityOne"
                    [(ngModel)]="submission.data.ethnicities['White']">
                    White
                </md-checkbox>
                    <md-checkbox class="block-input">
                        <md-input-container class="full-width">
                        <input md-input mdInput type="text"
                        id="resourceEthnicityOther" 
                        class="form-control" 
                        name="resourceEthnicityEight"
                        [(ngModel)]="submission.data.ethnicities.Other"
                        placeholder="Other Ethnicity"/>
                        </md-input-container>
                    </md-checkbox>
            </div>

            <div class="form-group">
                <label for="resourceIsInvolved">Is a Hymn Society member involved?</label>
                <md-radio-group name="resourceIsInvolved" [(ngModel)]="submission.data.hymn_soc_member" required>
                    <md-radio-button class="block-input" value="Yes" required> Yes</md-radio-button>
                    <md-radio-button class="block-input" value="Yo"> No</md-radio-button>
                    <md-radio-button class="block-input" value="Unknown"> Unknown</md-radio-button>
                </md-radio-group>
            </div>

            <div class="form-group">
                <label for="resourceFree">Is this resource free?</label>
                <md-radio-group name="resourceFree" [(ngModel)]="submission.data.is_free" required>
                    <md-radio-button class="block-input" value="Yes" required> Yes</md-radio-button>
                    <md-radio-button class="block-input" value="Partially with paywall"> Partially with paywall</md-radio-button>
                    <md-radio-button class="block-input" value="No"> No</md-radio-button>
                </md-radio-group>
            </div>
            
            <div class="form-group">
                <label for="resourcePractSchol">Is this resource practical or scholarly or both?</label>
                <md-radio-group [(ngModel)]="submission.data.pract_schol" name="resourcePractSchol" required>
                    <md-radio-button class="block-input" value="Practical" required> 
                        Practical</md-radio-button>
                    <md-radio-button class="block-input" value="Scholarly"> 
                        Scholarly</md-radio-button>
                    <md-radio-button class="block-input" value="Both"> 
                        Both</md-radio-button>
                </md-radio-group>
            </div>             

            <md-card-actions>
              <button md-raised-button color="primary" type="submit" 
              [disabled]="resourceForm.invalid">
              Submit
              </button>
              <button md-button routerLink="/">
              Return to home
              </button>
          </md-card-actions>
          </form>
          
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>