<div class="entry-container">
  <entry-nav class="left"></entry-nav>
  <hymn-header></hymn-header>
  <entry-nav-modal></entry-nav-modal>
  <div class="entry-body row">
    <div class="col-md-8 offset-md-3">
      <md-card>
        <md-card-content>
            <md-card-subtitle class="entry-card-header">
                {{content?.fields.instructions}} 
            </md-card-subtitle>
            <md-card-title><h4 class="card-title">{{content?.fields.title}}</h4></md-card-title>

            <form name="resourceForm"
            (ngSubmit)="submit()"
            #resourceForm="ngForm"
            *ngIf="submission">

            <div class="form-group">
                <!--<label for="resourceTitle">Resource Title</label>-->
                <md-input-container class="full-width">
                    <input md-input mdInput type="text"
                    placeholder="Resource Title"
                    id="resourceTitle" 
                    class="form-control" 
                    [(ngModel)]="submission.data.title"
                    #resourceTitle="ngModel"
                    name="resourceTitle"
                    required/>
                </md-input-container>
                <div class="alert alert-danger" *ngIf="resourceTitle.errors && resourceTitle.touched">
                  <ul>
                      <li [hidden]="!resourceTitle.errors.required">
                          Title is required
                      </li>
                  </ul>
                </div> 
            </div>

            <div class="form-group">
                <label for="resourceType">Resource Type</label>
                <md-radio-group [(ngModel)]="submission.data.type" name="radioType">
                    <md-radio-button class="block-input" name="type" value="Book" required> Book</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="Blog"> Blog</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="Podcast"> Podcast</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="Newsletter/E-News"> Newsletter/E-News</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="Forum"> Forum</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="Audio Track(s)"> Audio Track(s)</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="Video/Visual(s)"> Video/Visual(s)</md-radio-button>
                    <md-radio-button class="block-input" name="type" value="other">                                         
                        <md-input-container class="full-width">
                        <input md-input mdInput type="text"
                        placeholder="Other resource type"
                        id="resourceTitle" 
                        class="form-control" 
                        [(ngModel)]="resourceTypeOther"
                        name="resourceTitle"/>
                        </md-input-container> 
                     </md-radio-button>
                </md-radio-group>

            </div>

            <div class="form-group">
                <!--<label for="resourceUrl">Website URL</label>-->
                <md-input-container class="full-width">
                    <input md-input mdInput type="url" 
                    placeholder="Website URL"
                    id="resourceUrl" 
                    class="form-control" 
                    [(ngModel)]="submission.data.url"
                    name="resourceUrl"
                    #resourceUrl="ngModel"
                    required/>
                </md-input-container>                
                <div class="alert alert-danger" *ngIf="resourceUrl.errors && resourceUrl.touched">
                  <ul>
                      <li [hidden]="!resourceUrl.errors.required">
                          URL is required
                      </li>
                      <li>
                          Please follow this format: https://www.google.com
                      </li>
                  </ul>
                </div> 
            </div>

            <div class="form-group">
                <!--<label for="resourceAuthor">Author/Creator</label>-->
                <md-input-container class="full-width">
                    <input md-input mdInput type="text"
                    placeholder="Author/Creator"
                    id="resourceAuthor" 
                    class="form-control" 
                    [(ngModel)]="submission.data.author"
                    name="resourceAuthor"
                    required/>
                </md-input-container>
            </div>

            <div class="form-group">
                <!--<label for="resourceParent">Parent Organization or Source</label>-->
                <md-input-container class="full-width">
                    <input md-input mdInput type="text"
                    placeholder="Parent Organization or Source"
                    id="resourceParent" 
                    class="form-control" 
                    [(ngModel)]="submission.data.parent"
                    name="reourceParent"/>
                </md-input-container>
            </div>

            <div class="form-group">
                <!--<label for="resourceDescription">Resource Description</label>-->
                <md-input-container class="full-width">
                    <input md-input mdInput type="text"
                    placeholder="Resource Description"
                    id="resourceDescription" 
                    class="form-control" 
                    [(ngModel)]="submission.data.description"
                    name="resourceDescription"
                    required/>
                </md-input-container>
            </div>

            <div class="form-group">
                <label for="resourceCategories">What categories does this resource
                fit into or relate to?
                </label>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceCategoriesOne"
                        [(ngModel)]="submission.data.categories.A_hymn_written_prior_to_1970">
                        A Hymn written prior to 1970
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceCategoriesTwo"
                        [(ngModel)]="submission.data.categories.Newly_composed_hymn_within_the_last_10_years">
                        Newly Composed Hymn (within the last 10 years)
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceCategoriesThree"
                        [(ngModel)]="submission.data.categories.Song_by_local_church_musicians">
                        A song written by a local church musician - not widely distributed
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceCategoriesFour"
                        [(ngModel)]="submission.data.categories.Praise_and_Worship_Song_CCM">
                        Praise and Worship Song (CCM)
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceCategoriesFive"
                        [(ngModel)]="submission.data.categories.Psalm_Setting">
                        Psalm Setting
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceCategoriesSix"
                        [(ngModel)]="submission.data.categories.Chant_Gregorian_Anglican_Pointed_or_Taize">
                        Chant (Gregorian, Anglican, Pointed or Taize)
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceCategoriesSeven"
                        [(ngModel)]="submission.data.categories.Older_hymn_text_set_to_a_new_contemporary_tune_or_retuned">
                        Older hymn text set to a new contemporary tune (or "re-tuned" hymn)
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceCategoriesEight"
                        [(ngModel)]="submission.data.categories.Song_from_another_country_or_World_Song">
                        Song from another country (or "World Song")
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceCategoriesNine"
                        [(ngModel)]="submission.data.categories.Secular_Song">
                        Secular Song
                    </md-checkbox>
                    <md-checkbox class="block-input">                        
                        <md-input-container class="full-width">
                        <input md-input mdInput type="text"
                        id="resourceCategories" 
                        class="form-control" 
                        [(ngModel)]="submission.data.categories.Other"
                        name="resourceCategories"
                        placeholder="Other Category"/>
                        </md-input-container>
                    </md-checkbox>
            </div>

            <div class="form-group">
                <label for="resourceTopic">Does this resource address any of these specific topics/concerns?</label>
                    <md-checkbox class="block-input"
                        ng-true-value = "true"
                        ng-false-value = "false"
                        name="resourceTopicOne"
                        [(ngModel)]="submission.data.topic.Psalm_Setting">
                        Psalm Setting
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value = "true"
                        ng-false-value = "false"
                        name="resourceTopicTwo"
                        [(ngModel)]="submission.data.topic.Lectionary_Based">
                        Lectionary Based
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value = "true"
                        ng-false-value = "false"
                        name="resourceTopicThree"
                        [(ngModel)]="submission.data.topic.Social_Justice">
                        Social Justice
                    </md-checkbox>
                    <md-checkbox class="block-input">                    
                        <md-input-container class="full-width">
                        <input md-input mdInput type="text"
                        id="resourceTopic" 
                        class="form-control" 
                        [(ngModel)]="submission.data.topic.Other"
                        name="resourceTopic"
                        placeholder="Other Topic"/>
                        </md-input-container>
                    </md-checkbox>
            </div>

            <div class="form-group">
                <label for="resourceAccompany">What kind of accompaniment does this resource address or lend itself toward?</label>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceAccompanyOne"
                        [(ngModel)]="submission.data.accompaniment.Acapella">
                        Acapella
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceAccompanyTwo"
                        [(ngModel)]="submission.data.accompaniment.Organ">
                        Organ
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceAccompanyThree"
                        [(ngModel)]="submission.data.accompaniment.Piano">
                        Piano
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceAccompanyFour"
                        [(ngModel)]="submission.data.accompaniment.Guitar_no_band">
                        Guitar (no band)
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceAccompanyFive"
                        [(ngModel)]="submission.data.accompaniment.Guitar_with_band">
                        Guitar (with band)
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceAccompanySix"
                        [(ngModel)]="submission.data.accompaniment.Orchestra">
                        Orchestra/Wind Ensemble
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceAccompanySeven"
                        [(ngModel)]="submission.data.accompaniment.Handbells">
                        Handbells
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceAccompanyEight"
                        [(ngModel)]="submission.data.accompaniment.Obligato">
                        Single/Obligato Instrument (non-organ/piano/guitar)
                    </md-checkbox>
                    <md-checkbox class="block-input" name="other">                       
                        <md-input-container class="full-width">
                        <input md-input mdInput type="text"
                        id="resourceAccompaniment" 
                        class="form-control" 
                        [(ngModel)]="submission.data.accompaniment.Other"
                        name="resourceAccompaniment"
                        placeholder="Other Accompaniment"/>
                        </md-input-container>
                    </md-checkbox>
            </div>

            <div class="form-group">
                <label for="resourceLang">What languages are represented in this resource?</label>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceLangOne"
                        [(ngModel)]="submission.data.languages.English">
                        English
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceLangTwo"
                        [(ngModel)]="submission.data.languages.Spanish">
                        Spanish
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true" 
                        ng-false-value="false"
                        name="resourceLangThree"
                        [(ngModel)]="submission.data.languages.French">
                        French
                    </md-checkbox>
                    <md-checkbox class="block-input">
                        <md-input-container class="full-width">
                        <input md-input mdInput type="text"
                        id="resourceLangFour" 
                        class="form-control" 
                        [(ngModel)]="submission.data.languages.Other"
                        name="resourceLang"
                        placeholder="Other Language"/>
                        </md-input-container>
                    </md-checkbox>
            </div>

            <div class="form-group">
                <label for="resourceEnsemble">What types of ensembles are addressed in this resource?</label>
                    <md-checkbox class="block-input"
                        ng-true-value="true"    
                        ng-false-value="false"
                        name="resourceEnsembleOne"
                        [(ngModel)]="submission.data.ensembles.Choir">
                        Choir
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true"    
                        ng-false-value="false"
                        name="resourceEnsembleTwo"
                        [(ngModel)]="submission.data.ensembles.Cantor">
                        Cantor
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true"    
                        ng-false-value="false"
                        name="resourceEnsembleThree"
                        [(ngModel)]="submission.data.ensembles.Song_Enlivener">
                        Song-Enlivener
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true"    
                        ng-false-value="false"
                        name="resourceEnsembleFour"
                        [(ngModel)]="submission.data.ensembles.Solo">
                        Lead Singer from Band (Solo)
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true"    
                        ng-false-value="false"
                        name="resourceEnsembleFive"
                        [(ngModel)]="submission.data.ensembles.Lead_Singer_from_Band_with_Other_Vocalists">
                        Lead Singer from Band with Other Vocalists
                    </md-checkbox>
                    <md-checkbox class="block-input">
                        <md-input-container class="full-width">
                        <input md-input mdInput type="text"
                        id="resourceEnsemble" 
                        class="form-control" 
                        [(ngModel)]="submission.data.ensembles.Other"
                        name="resourceEnsemble"
                        placeholder="Other Ensemble"/>
                        </md-input-container>    
                    </md-checkbox>
            </div>

            <div class="form-group">
                <label for="resourceEthnicity">What ethnicities does this resource represent?</label>
                    <md-checkbox class="block-input"
                        ng-true-value="true"
                        ng-false-value="false"
                        name="resourceEthnicityOne"
                        [(ngModel)]="submission.data.ethnicities.White">
                        White
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true"
                        ng-false-value="false"
                        name="resourceEthnicityTwo"
                        [(ngModel)]="submission.data.ethnicities.Black">
                        Black
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true"
                        ng-false-value="false"
                        name="resourceEthnicityThree"
                        [(ngModel)]="submission.data.ethnicities.Hispanic_Latinx_Caribbean">
                        Hispanic/Latinx/Caribbean
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true"
                        ng-false-value="false"
                        name="resourceEthnicityFour"
                        [(ngModel)]="submission.data.ethnicities.Native_American_Indigenous_Peoples">
                        Native American/Indigenous Peoples
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true"
                        ng-false-value="false"
                        name="resourceEthnicityFive"
                        [(ngModel)]="submission.data.ethnicities.Asian">
                        Asian
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true"
                        ng-false-value="false"
                        name="resourceEthnicitySix"
                        [(ngModel)]="submission.data.ethnicities.African">
                        African
                    </md-checkbox>
                    <md-checkbox class="block-input"
                        ng-true-value="true"
                        ng-false-value="false"
                        name="resourceEthnicitySeven"
                        [(ngModel)]="submission.data.ethnicities.Middle_Eastern">
                        Middle Eastern
                    </md-checkbox>
                    <md-checkbox class="block-input">
                        <md-input-container class="full-width">
                        <input md-input mdInput type="text"
                        id="resourceEnsemble" 
                        class="form-control" 
                        name="resourceEthnicityEight"
                        [(ngModel)]="submission.data.ethnicities.Other"
                        placeholder="Other Ethnicity"/>

                        </md-input-container>
                    </md-checkbox>
            </div>

            <div class="form-group">
                <label for="resourceIsInvolved">Is a Hymn Society member involved?</label>
                <md-radio-group name="resourceIsInvolved" [(ngModel)]="submission.data.hymn_soc_member" required>
                    <md-radio-button class="block-input" value="Yes" required> Yes</md-radio-button>
                    <md-radio-button class="block-input" value="Yo"> No</md-radio-button>
                    <md-radio-button class="block-input" value="Unknown"> Unknown</md-radio-button>
                </md-radio-group>
            </div>

            <div class="form-group">
                <label for="resourceFree">Is this resource free?</label>
                <md-radio-group name="resourceFree" [(ngModel)]="submission.data.is_free" required>
                    <md-radio-button class="block-input" value="Yes" required> Yes</md-radio-button>
                    <md-radio-button class="block-input" value="Partially with paywall"> Partially with paywall</md-radio-button>
                    <md-radio-button class="block-input" value="No"> No</md-radio-button>
                </md-radio-group>
            </div>

            <md-card-actions>
              <button md-raised-button color="primary" type="submit" 
              [disabled]="resourceForm.invalid">
              Submit
              </button>
              <button md-button routerLink="/">
              Return to home
              </button>
          </md-card-actions>
          </form>
          
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>