<div class="entry-container">
    <entry-nav class="left"></entry-nav>
    <hymn-header></hymn-header>
    <entry-nav-modal></entry-nav-modal>
    <div class="entry-body row">
        <div class="col-md-8 offset-md-3">
            <md-card>
                <md-card-content>
                    <md-card-subtitle class="entry-card-header">
                        {{content?.fields.instructions}}
                    </md-card-subtitle>
                    <md-card-title><h4 class="card-title">{{content?.fields.title}}</h4></md-card-title>
                    
                    <form name="orgsForm"
                    (ngSubmit)="openDialog()"
                    #orgsForm="ngForm"
                    *ngIf="submission">

                    <div class="form-group">
                        <!--<label for="orgName">Organization Name</label>-->
                        <md-input-container class="full-width">
                            <input md-input mdInput type="text"
                            placeholder="Organization Name"
                            id="orgName" 
                            class="form-control" 
                            [(ngModel)]="submission.data.name"
                            name="orgName"
                            #orgName="ngModel"
                            required/>
                        </md-input-container>
                    </div>
                    <div class="alert alert-danger" *ngIf="orgName.errors && orgName.touched">
                        <ul>
                            <li [hidden]="!orgName.errors.required">
                                Name is required
                            </li>
                        </ul>
                    </div> 

                    <div class="form-group">
                        <!--<label for="orgUrl">Organization Website</label>-->
                        <md-input-container class="full-width">
                            <input md-input mdInput type="url" 
                            placeholder="Organization Website"
                            id="orgUrl" 
                            class="form-control" 
                            [(ngModel)]="submission.data.url"
                            name="orgUrl"
                            #orgUrl="ngModel"
                            required/>
                        </md-input-container>
                    </div>   
                    <div class="alert alert-danger" *ngIf="orgUrl.errors && orgUrl.touched">
                        <ul>
                            <li [hidden]="!orgUrl.errors.required">
                                URL is required
                            </li>
                            <li>
                                Please follow this format: https://www.google.com
                            </li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <!--<label for="orgParent">Do you have a parent organization? (Are you officially housed or sponsored by a denomination, school, or other larger organization?)</label>-->
                        <md-input-container class="full-width">
                            <input md-input mdInput type="text"
                            placeholder="Do you have a parent organization? (Are you officially housed or sponsored by a denomination, school, or other larger organization?)"
                            id="orgParent" 
                            class="form-control"
                            [(ngModel)]="submission.data.parent"
                            name="orgParent"/>
                        </md-input-container>
                    </div>  

                    <div class="form-group">
                        <label for="orgDenomination">Are you related to or a part of a specific denomination or tradition?</label>
                            <md-radio-group [(ngModel)]="submission.data.denomination" name="orgDenomination" required>
                                <md-radio-button class="block-input" name="denomination" value="Ecumenical/Multi-Denominational">Ecumenical/Multi-Denominational</md-radio-button>
                                <md-radio-button class="block-input" name="denomination" value="Non-Denominational">Non-Denominational</md-radio-button>
                                <md-radio-button class="block-input" name="denomination" value="Roman Catholic">Roman Catholic</md-radio-button>
                                <md-radio-button class="block-input" name="denomination" value="Anglican/Episcopal">Anglican/Episcopal</md-radio-button>
                                <md-radio-button class="block-input" name="denomination" value="Lutheran">Lutheran</md-radio-button>
                                <md-radio-button class="block-input" name="denomination" value="Wesleyan (United Methodist, AME, etc...)">Wesleyan (United Methodist, AME, etc...)</md-radio-button>
                                <md-radio-button class="block-input" name="denomination" value="Reformed (Presbyterian, RCA, etc...)">Reformed (Presbyterian, RCA, etc...)</md-radio-button>
                                <md-radio-button class="block-input" name="denomination" value="Baptist/Free-Church">Baptist/Free-Church</md-radio-button>
                                <md-radio-button class="block-input" name="denomination" value="Pentecostal">Pentecostal</md-radio-button>
                                <md-radio-button class="block-input" name="denomination" value="other">
                                    <md-input-container>
                                    <input md-input mdInput type="text" 
                                    placeholder="Other Denomination/Tradition"
                                    [(ngModel)]="denomOther"
                                    name=orgDenominationOther/>
                                    </md-input-container>
                                </md-radio-button>
                            </md-radio-group>
                    </div>

                    <div class="form-group">
                        <label for="orgCountry">What country are you located/headquartered?</label><br>
                        <md-select [(ngModel)]="submission.data.country" name="country" required>
                            <md-option *ngFor="let country of all_countries" [value]="country">
                                {{country}}
                            </md-option>
                        </md-select>
                    </div>    

                    <div *ngIf="countries.getCountryByName(submission.data.country).provinces" class="form-group">
                        <label for="orgState">What state are you located/headquartered?</label><br>
                         <md-select [(ngModel)]="submission.data.state" name="eventState">
                            <md-option *ngFor="let state of countries.getCountryByName(submission.data.country).provinces" [value]="state.name">
                                {{state.name}}
                            </md-option>
                        </md-select>
                    </div>
                              

                    <div class="form-group">
                        <md-input-container class="full-width">
                            <input md-input mdInput type="text"
                            placeholder="What city are you located/headquartered?"
                            id="orgCity" 
                            class="form-control" 
                            [(ngModel)]="submission.data.city"
                            name="orgCity"
                            #orgCity="ngModel"
                            required/>
                        </md-input-container>
                    </div>  
                    <div class="alert alert-danger" *ngIf="orgCity.errors && orgCity.touched">
                        <ul>
                            <li [hidden]="!orgCity.errors.required">
                                City is required
                            </li>
                        </ul>
                    </div> 

                    <!--<div class="form-group">
                        <!--<label for="orgState">What state are you located/headquartered?</label>
                        <md-input-container class="full-width">
                            <input md-input mdInput type="text"
                            placeholder="What state are you located/headquartered?"
                            id="orgState" 
                            class="form-control" 
                            [(ngModel)]="submission.data.state"
                            name="orgState"
                            #orgState="ngModel"
                            required/>
                        </md-input-container>
                    </div>
                    <div class="alert alert-danger" *ngIf="orgState.errors && orgState.touched">
                        <ul>
                            <li [hidden]="!orgState.errors.required">
                                State is required
                            </li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label for="orgCountry">What country are you located/headquartered?</label>
                            <md-radio-group [(ngModel)]="submission.data.country" name="orgCountry" required>
                                <md-radio-button class="block-input" name="country" value="US" required>US</md-radio-button>
                                <md-radio-button class="block-input" name="country" value="Canada">Canada</md-radio-button>
                                <md-radio-button class="block-input" name="country" value="other">
                                    <md-input-container>
                                    <input md-input mdInput type="text" 
                                    placeholder="Other Country"
                                    [(ngModel)]="countryOther"
                                    name="countryOther"/>
                                    </md-input-container>
                                </md-radio-button>  
                            </md-radio-group>  
                    </div>-->

                    <div class="form-group">
                        <label for="orgGeogrpahics">What geographic area(s) do you serve?</label>
                            <md-radio-group [(ngModel)]="submission.data.geographic_area" name="orgGeographics" required>
                                <md-radio-button class="block-input" name="geographics" value="Our City Only" required>Our City Only</md-radio-button>
                                <md-radio-button class="block-input" name="geographics" value="Our Region/Synod/Presbytery/Dioceses Only">Our Region/Synod/Presbytery/Dioceses Only</md-radio-button>
                                <md-radio-button class="block-input" name="geographics" value="Our Region Only">Our Region Only</md-radio-button>
                                <md-radio-button class="block-input" name="geographics" value="U.S. Only">U.S. Only</md-radio-button>
                                <md-radio-button class="block-input" name="geographics" value="Canada Only">Canada Only</md-radio-button>
                                <md-radio-button class="block-input" name="geographics" value="Worldwide">Worldwide</md-radio-button>
                                <md-radio-button class="block-input" name="geographics" value="other">
                                    <md-input-container>
                                    <input md-input mdInput type="text" 
                                    placeholder="Other Geographic Area"
                                    [(ngModel)]="geoOther"
                                    name="orgGeogrphicsOther"/>
                                    </md-input-container>
                                </md-radio-button>       
                            </md-radio-group>
                    </div>                           
                    
                    <div class="form-group">
                        <label for="orgResource">Are any of your resources free?</label>
                            <md-radio-group [(ngModel)]="submission.data.is_org_free" name="orgResource" required>
                                <md-radio-button class="block-input" name="resource" value="Yes" required>Yes</md-radio-button>
                                <md-radio-button class="block-input" name="resource" value="No">No</md-radio-button>
                                <md-radio-button class="block-input" name="resource" value="We don't offer resources">We don't offer resources</md-radio-button>
                            </md-radio-group>
                    </div>

                    <div class="form-group">
                        <label for="orgConference">Are any of your events/conferences free?</label>
                            <md-radio-group [(ngModel)]="submission.data.events_free" name="orgConference" required>
                                <md-radio-button class="block-input" name="conference" value="Yes" required>Yes</md-radio-button>
                                <md-radio-button class="block-input" name="conference" value="No">No</md-radio-button>
                                <md-radio-button class="block-input" name="conference" value="We don't offer events/conferences">We don't offer events/conferences</md-radio-button>
                            </md-radio-group>
                    </div>      

                    <div class="form-group">
                        <label for="orgMembership">Do you charge for membership?</label>
                            <md-radio-group [(ngModel)]="submission.data.membership_free" name="orgMembership" required>
                                <md-radio-button class="block-input" name="membership" value="Yes" required>Yes</md-radio-button>
                                <md-radio-button class="block-input" name="membership" value="No">No</md-radio-button>
                                <md-radio-button class="block-input" name="membership" value="We don't offer memberships">We don't offer memberships</md-radio-button>
                            </md-radio-group>
                    </div>

                    <div class="form-group">
                        <!--<label for="orgMission">What is the mission of your organization?</label>-->
                        <md-input-container class="full-width">
                            <input md-input mdInput type="text"
                            placeholder="What is the mission of your organization?"
                            id="orgMission" 
                            class="form-control"
                            [(ngModel)]="submission.data.mission"
                            name="orgMission"
                            #orgMission="ngModel"
                            required/>
                        </md-input-container>
                        <div class="alert alert-danger" *ngIf="orgMission.errors && orgMission.touched">
                            <ul>
                                <li [hidden]="!orgMission.errors.required">
                                    Mission is required
                                </li>
                            </ul>
                        </div>
                    </div>                                       
                    
                     <div class="form-group">
                        <!--<label for="orgMethod">How does your organization encourage, promote, or enliven congregational song?</label>-->
                        <md-input-container class="full-width">
                            <input md-input mdInput type="text"
                            placeholder="How does your organization encourage, promote, or enliven congregational song?"
                            id="orgMethod" 
                            class="form-control" 
                            [(ngModel)]="submission.data.process"
                            name="orgMethod"
                            #orgMethod="ngModel"
                            required/>
                        </md-input-container>
                        <div class="alert alert-danger" *ngIf="orgMethod.errors && orgMethod.touched">
                            <ul>
                                <li [hidden]="!orgMethod.errors.required">
                                    Method is required
                                </li>
                            </ul>
                        </div>
                    </div>  

                    <div class="form-group">
                        <label for="orgPractSchol">Is this resource practical or scholarly or both??</label>
                        <md-radio-group [(ngModel)]="submission.data.pract_schol" name="orgPractSchol" required>
                            <md-radio-button class="block-input" value="Practical" required> 
                                Practical</md-radio-button>
                            <md-radio-button class="block-input" value="Scholarly"> 
                                Scholarly</md-radio-button>
                            <md-radio-button class="block-input" value="Both"> 
                                Both</md-radio-button>
                        </md-radio-group>
                    </div> 

                    <md-card-actions>
                        <button md-raised-button color="primary" type="submit" 
                        [disabled]="orgsForm.invalid">
                        Submit
                        </button>
                        <button md-button routerLink="/">
                        Return to home
                        </button>
                    </md-card-actions>
                    </form> 

                </md-card-content> <!-- end class card-block-->
            </md-card> <!-- end class card -->
        </div> <!-- end class col-md-8 offset-md-2 -->
    </div> <!-- end entry-body row -->
</div>